<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.convertor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/convertor"
        android:label="Unit Coverter Hesam"
        android:roundIcon="@drawable/convertor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity4" android:screenOrientation="portrait"></activity>
        <activity android:name=".MainActivity3" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity2" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity1" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>